.nav-bg{
    background-color: $secondary-color;
}
.main-title-bg{
    background-color: $secondary-color;
}
.profil-picture{
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
}