.profil-bg{
    background-image: url(../images/bg-profil.jpg);
    background-position: center;
    color: #fff;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
.about-bg{
    background-color: rgba(0,0,0,0.5);
}
.contact-bg, .competence-bg{
    background-color: $primary-color;
}
.skill-group{
    background-color: #fff;
   padding: 1rem 1.5rem;
   margin-bottom: 2rem;
   border-radius: 2rem;
   border: 0.2rem solid $secondary-color;
}
.project-bg{
    background-color: #fff;
}
.project-title{
    border: 0.1rem solid $primary-color;
}
.langage-list{
    list-style-type: none;
}
.card{
    border: #fff!important;
}

 .project-image{
 border-bottom: 0.1rem solid $primary-color;
border-top: 0.1rem solid $primary-color;
 }
.profil-text{
    border-left: 0.2rem solid $secondary-color;
}
.project-skill-box{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


// @keyframes underline {
//     from {left: 0px;
//     width:0%}
//     to {
//     width:100%;}
//   }

// .skill-subtitle{
//         &::after{
//             content:"";
//             width:0%;
//             height:0.1rem;
//             background-color:$secondary-color;
//             position:relative;
//             left:0rem;
//             bottom:0rem;
//             opacity:0.5;
//             border-radius:4rem;
//         }
//         &:hover {
//             &::after{
//                animation: underline 700ms forwards;
//             }   
//         }    
//       }


// Carousel 
.carousel{
    position: relative;
    overflow: hidden //hide element oustide the view
}
.carousel__container{
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}
//Height of the element for the container
.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float:left;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.carousel-box{
    box-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
    border: 0.1rem solid $primary-color;
    width:90%;
}
.carousel__next, .carousel__prev{
    position: absolute;
    width:2.5rem;
    height:2.5rem;
    background: $secondary-color url(../../assets/images/arrow-right.png) center center no-repeat;
    background-size: 2rem 2rem;
    border-radius: 50%;
    top: 50%;
    margin-top: -1.25rem;
    right: 1rem;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
}

.carousel__next:hover, .carousel__prev:hover{
    transform:scale(1.2);
}
.carousel__prev{
    background-image: url(../../assets/images/arrow-left.png);
    background-size: 2rem 2rem;
    right: auto;
    left: 1rem;
}