.profil-bg{
    background-image: url(../images/bg-profil.jpeg);
    background-position: center;
    color: #fff;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
.about-bg{
    background-color: rgba(0,0,0,0.5);
}
.contact-bg, .competence-bg{
    background-color: $primary-color;
}
.navbar{
    box-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
}
.skill-group{
    background-color: #fff;
   padding: 1rem 1rem;
   margin-bottom: 2rem;
//    border-radius: 1rem;
//    border: 0.2rem solid $primary-color;
}
.project-bg{
    background-color: #fff;
}
.project-title{
    border: 0.1rem solid $primary-color;
}
.langage-list{
    list-style-type: none;
}
.card{
    border: #fff!important;
}

 .project-image{
 border-bottom: 0.1rem solid $primary-color;
border-top: 0.1rem solid $primary-color;
 }
.profil-text{
    border-left: 0.2rem solid $secondary-color;
}
.project-skill-box{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


// @keyframes underline {
//     from {left: 0px;
//     width:0%}
//     to {
//     width:100%;}
//   }

// .skill-subtitle{
//         &::after{
//             content:"";
//             width:0%;
//             height:0.1rem;
//             background-color:$secondary-color;
//             position:relative;
//             left:0rem;
//             bottom:0rem;
//             opacity:0.5;
//             border-radius:4rem;
//         }
//         &:hover {
//             &::after{
//                animation: underline 700ms forwards;
//             }   
//         }    
//       }


// Carousel 
.carousel{
    position: relative;
    overflow: hidden //hide element oustide the view
}
.carousel__container{
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}
//Height of the element for the container
.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel__item{
    float:left;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.carousel-box{
    box-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
    border: 0.1rem solid $primary-color;
    width:90%;
}
.carousel__next, .carousel__prev{
    position: absolute;
    width:2.5rem;
    height:2.5rem;
    background: $secondary-color url(../../assets/images/arrow-right.png) center center no-repeat;
    background-size: 2rem 2rem;
    border-radius: 50%;
    top: 50%;
    margin-top: -1.25rem;
    right: 1rem;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    box-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
    opacity: 1;
}

.carousel__next:hover, .carousel__prev:hover{
    transform:scale(1.2);
}
.carousel__prev{
    background-image: url(../../assets/images/arrow-left.png);
    background-size: 2rem 2rem;
    right: auto;
    left: 1rem;
}
.carousel__prev--hidden, .carousel__next--hidden{
    opacity: 0;
    
}

//overlay carousel
.overlay-image {
    position: relative;
    // width: 100%;
}
.overlay-image .image{
    display:block;
    width: 100%;
    height: auto
}
.overlay-image .text {
    color: #fff;
    line-height: 1.5em; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
   }
   .overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: .5s ease;
   }
   .overlay-image:hover .hover {
    opacity: 1;
   }
   .overlay-image .hover {
    background-color: rgba(0,0,0,0.7);
   }