/*Couleur fond*/
main {
  font-family: 'Roboto', sans-serif;
}

.main-title-bg {
  font-family: 'Oswald', sans-serif;
  color: #23264B;
}

.nav-bg a {
  font-family: 'Roboto', sans-serif;
  color: #23264B;
  font-weight: bold;
  border: 0.1rem solid #E6BFD1;
  transition: border 500ms, text-shadow 500ms;
  padding-bottom: 0;
  padding-top: 0;
  text-shadow: 0.2rem 0.2rem 0.8rem #E6BFD1;
}

.nav-bg a:hover {
  color: #23264B;
  text-decoration: underline;
  text-shadow: 0.2rem 0.2rem 0.8rem #23264B;
}

.navbar-toggler-icon {
  color: #23264B;
  border: 1rem solid #fff;
}

.cv-link {
  color: #fff;
  padding-left: 1rem;
  padding: 0.6rem;
  transition: background-color 1000ms, padding 1000ms, color 1000ms;
}

.cv-link:hover {
  padding: 0.6rem;
  color: #23264B;
  background-color: #E6BFD1;
  text-decoration: none;
}

.contact-logo a {
  color: #fff;
  font-size: 3rem;
}

.contact-logo a:hover {
  color: #E6BFD1;
}

.subtitle-main {
  font-size: 1.5rem;
  margin: auto;
}

.competence-bg, .contact-bg {
  color: #fff;
}

.skill-subtitle {
  color: #23264B;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.3rem #23264B;
}

.logo-langage {
  font-size: 5rem;
}

.logo-langage.html {
  color: #DE4B25;
}

.logo-langage.css {
  color: #3595CE;
}

.logo-langage.javascript {
  color: #EFD81D;
}

.logo-langage.sass {
  color: #CF649A;
}

.logo-langage.bootstrap {
  color: #7952B3;
}

.logo-langage.git {
  color: #3F2E00;
}

.logo-langage.github {
  color: #24292E;
}

.logo-langage.vuejs {
  color: #3FB27F;
}

.logo-langage.nodejs {
  color: #78B162;
}

.logo-langage.npm {
  color: #CB3837;
}

.logo-langage.expressjs {
  max-height: 47px;
  max-width: 90px;
}

.logo-langage.mysql {
  max-height: 47px;
  max-width: 90px;
}

.logo-langage.mongodb {
  max-height: 47px;
  max-width: 90px;
}

.logo-langage.postman {
  max-height: 77px;
  max-width: 100px;
}

.skill-name {
  color: #23264B;
}

.skill-level {
  color: #E6BFD1;
}

.logo-project {
  font-size: 2rem;
  color: #23264B;
  transition: 1000ms font-size;
}

.logo-project:hover {
  font-size: 3rem;
}

.logo-project-skill {
  color: #E6BFD1;
}

.project-title {
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo-localisation, .logo-cv {
  font-size: 1.5rem;
  color: #E6BFD1;
}

.profil-bg {
  background-image: url(../images/bg-profil.jpg);
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-bg, .competence-bg {
  background-color: #23264B;
}

.skill-group {
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 0.2rem solid #E6BFD1;
}

.project-bg {
  background-color: #fff;
}

.project-title {
  border: 0.1rem solid #23264B;
}

.langage-list {
  list-style-type: none;
}

.card {
  border: #fff !important;
}

.project-image {
  border-bottom: 0.1rem solid #23264B;
  border-top: 0.1rem solid #23264B;
}

.profil-text {
  border-left: 0.2rem solid #E6BFD1;
}

.project-skill-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.carousel-box {
  box-shadow: 0.2rem 0.2rem 0.8rem #23264B;
  border: 0.1rem solid #23264B;
  width: 90%;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background: #E6BFD1 url(../../assets/images/arrow-right.png) center center no-repeat;
  background-size: 2rem 2rem;
  border-radius: 50%;
  top: 50%;
  margin-top: -1.25rem;
  right: 1rem;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  box-shadow: 0.2rem 0.2rem 0.8rem #23264B;
  opacity: 1;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2);
}

.carousel__prev {
  background-image: url(../../assets/images/arrow-left.png);
  background-size: 2rem 2rem;
  right: auto;
  left: 1rem;
}

.carousel__prev--hidden, .carousel__next--hidden {
  opacity: 0;
}

.nav-bg {
  background-color: #E6BFD1;
}

.main-title-bg {
  background-color: #E6BFD1;
}

.profil-picture {
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.8rem #23264B;
}
