/*****TYPOGRAPHY*****/


/*HEADER*/

/*Main title*/
.main-title-bg{
    font-family:'Oswald', sans-serif, Arial;
    color: $primary-color;
}

/*Nav*/
.nav-bg a{
    font-family: 'Roboto', sans-serif, Arial;
    color: $primary-color;
    font-weight: bold;
    border: 0.1rem solid $secondary-color;
    transition : border 500ms, text-shadow 500ms;
    padding-bottom: 0;
    padding-top: 0;
    text-shadow: 0.2rem 0.2rem 0.8rem $secondary-color;
    &:hover{
        color: $primary-color;
        text-decoration: underline;
        text-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
    }
}
.navbar-toggler-icon{
    color: $primary-color;
    border: 1rem solid #fff;
}


/*MAIN*/

/*General*/
main{
    font-family: 'Roboto', sans-serif, Arial;
}
.subtitle-main{
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}

.competence-bg, .contact-bg{
    color: #fff;
}

/*Profil*/
.cv-link{
    color: #fff;
    padding-left: 1rem;
    // box-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
    padding: 0.6rem;
    transition: text-shadow 1000ms, padding 1000ms, color 1000ms;
    &:hover{
        padding: 0.6rem;
        color: $secondary-color;
        text-shadow: 0.2rem 0.2rem 0.8rem $primary-color;
        // background-color: $primary-color;
        text-decoration: none;
    }
}
.resume-main{
    font-size: 1rem;
    font-weight: lighter;
}
.logo-localisation, .logo-cv{
    font-size: 1.5rem;
    color: $secondary-color;
}

/*Skills*/
.skill-subtitle{
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0.1rem 0.1rem 0.3rem $primary-color;
}
.logo-langage{
    font-size:5rem;
    &.html{
        color: #DE4B25;
    }
    &.css{
        color: #3595CE;
    }
    &.javascript{
        color: #EFD81D;
    }
    &.sass{
        color: #CF649A;
    }
    &.bootstrap{
        color: #7952B3;
    }
    &.git{
        color:#3F2E00;
    }
    &.github{
        color: #24292E;
    }
    &.vuejs{
        color: #3FB27F;
    }
    &.nodejs{
        color:#78B162;
    }
    &.npm{
        color: #CB3837;
    }
    &.expressjs{
        max-height: 47px;
        max-width: 90px;
    }
    &.mysql{
        max-height: 47px;
        max-width: 90px;
    }
    &.mongodb{
        max-height: 47px;
        max-width: 90px;
    }
    &.postman{
        max-height: 77px;
        max-width: 100px;
    }
}
.skill-name{
    color:$primary-color;
}
.skill-level{
    color:$secondary-color;
}

/*Project*/
.logo-project{
    font-size: 2rem;
    color: $secondary-color;
    transition: 1000ms font-size;
    &:hover{
        font-size: 3rem;
    }
}

.logo-project-skill{
    color: $secondary-color;
}

.project-title{
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*Contact*/
.contact-logo{
    a{
        color:#fff;
        font-size: 3rem;
        &:hover{
            color:$secondary-color;
        }
    }
}








